.form__button {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #fff;
  border: none;
  background-color: #000;
  border-radius: 2px;
  cursor: pointer;
  height: 50px;
  width: 358px;
  padding: 0;
  margin: 7px 0 0;
  transition: 0.3s;
}

.form__button:hover {
  opacity: .8;
}

@media screen and (max-width: 640px) {

  .form__button {
    height: 46px;
    width: 238px;
    font-size: 14px;
    margin-top: 15px;
  }

}