.profile__info {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  column-gap: 30px;
}

@media screen and (max-width: 640px) {

  .profile__info {
    grid-template-columns: 1fr;
    row-gap: 26px;
    justify-items: center;
    margin-bottom: 33px;
  }

}