.form__item {
  font-size: 14px;
  font-weight: 400;
  border: 0;
  padding: 0 0 10px;
  border-bottom: 1px rgba(0, 0, 0, .2) solid;
  margin-bottom: 30px;
}

.form__item:last-child {
  margin-bottom: 48px;
}

.form__item:focus {
  outline-color: transparent;
}