.profile__edit {
  width: 24px;
  height: 24px;
  background-color: #000;
  background-image: url(../../../images/edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  cursor: pointer;
}

@media screen and (max-width: 640px) {

  .profile__edit {
    width: 18px;
    height: 18px;
  }

}