.profile__edit {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../../../images/edit.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s;
}

.profile__edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 640px) {

  .profile__edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }

}