.profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 47.25px;
}

@media screen and (max-width: 960px) {

  .profile {
    flex-direction: column;
    margin-bottom: 36px;
  }

}