.card__heart {
  width: 22px;
  height: 19px;
  background-image: url('../../../images/heart.svg');
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.card__heart:hover {
  opacity: 0.6;
}