.profile__add {
  width: 150px;
  height: 50px;
  background-color: #000;
  background-image: url(../../../images/add.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid #fff;
  cursor: pointer;
}