.profile__add {
  width: 150px;
  height: 50px;
  background-color: #000;
  background-image: url(../../../images/add.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.3s;
}

.profile__add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 640px) {

  .profile__add {
    width: 282px;
  }

}