.form__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  margin: 0 0 48px;
}

.form__item:focus {
  outline-color: transparent;
}

@media screen and (max-width: 640px) {

  .form__title {
    font-size: 18px;
  }

}