@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);

/* подключаем стили блоков */
@import url(../blocks/body/body.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/main/main.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/card/card.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/form/form.css);

/* подключаем стили элементов */
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__bio/profile__bio.css);
@import url(../blocks/profile/__add/profile__add.css);
@import url(../blocks/cards/__list/cards__list.css);
@import url(../blocks/card/__img/card__img.css);
@import url(../blocks/card/__content/card__content.css);
@import url(../blocks/card/__name/card__name.css);
@import url(../blocks/card/__heart/card__heart.css);
@import url(../blocks/card/__trash/card__trash.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container-img/popup__container-img.css);
@import url(../blocks/popup/__big-img/popup__big-img.css);
@import url(../blocks/popup/__name-img/popup__name-img.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/form/__title/form__title.css);
@import url(../blocks/form/__item/form__item.css);
@import url(../blocks/form/__button/form__button.css);

/* подключаем стили модификаторов блоков */
@import url(../blocks/popup/_opened/popup_opened.css);

/* подключаем стили модификаторов элементов */
@import url(../blocks/card/__heart/_active/card__heart_active.css);