.logo {
  width: 142px;
  height: 33px;
  object-fit: cover;
  display: block;
  object-position: center;
}


@media screen and (max-width: 960px) {

  .logo {
    margin-left: 27px;
  }

}

@media screen and (max-width: 640px) {

  .logo {
    width: 103px;
    height: 24px;
  }

}