.popup__container {
  width: 430px;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 640px) {

  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }

}